.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.top{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.topLeft{
    display: flex;
    justify-content: center;
}

.topRight{
    display: flex;
    flex:1;
    margin-left: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.mid{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    overflow-x: scroll;
    scrollbar-color: black;
    background-color: rgb(100, 100, 100);
}

.bottom{
    flex-direction: column;
    font-size: 15px;
    color: rgb(61, 61, 61);
    align-items: flex-start;
    text-align: center;
}

.bottomTitleText{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 18px;
    align-self: center;
}

.download{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: rgb(100, 100, 100);
    margin-right: 8px;
    cursor:pointer;
    color: rgb(250, 250, 250);
    border-radius: 8px;
}

.downloadText{
    font-size: 14px;
}

.headerText{
    font-size: 25px;
    color:rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 3px;
}

.headerIntroText{
    font-size: 16px;
    color: rgb(100, 100, 100);
    margin-bottom: 5px;
}

.downloadContainer{
    display: flex;
    flex-direction: row;
}

.icon{
    max-width: 100px;
    object-fit: contain;
}

.shotImage{
    width: 200px;
    margin: 20px;
}

.sep{
    margin-left: 10px;
    margin-right: 10px;
}

.protocol{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: rgb(150, 150, 150);
}

.bottomLink{
    color: rgb(150, 150, 150);
    font-size: 10px;
}