
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cateContainer{
    display: flex;
    flex-direction: column;
}

.cateHeader{
    font-size: 15px;
    color: rgb(180, 180, 180);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cateItemContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    min-height: 44px;
    min-width: 44px;
    align-items: center;
    justify-content: center;
    color: rgb(51, 51, 51);
    cursor: pointer; 

}